<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MATHhub{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    
    {% block navbar %}
    <nav class="navbar">
            <a href="{{ url_for('index') }}" class="nav-logo">
                <div class="logo-text">MATH<span class="logo-highlight">hub</span></div>
            </a>
            
            <ul class="nav-links">
                <li><a href="#">Авторы</a></li>
                <li><a href="#">Поддержка</a></li>
            </ul>

            {% if current_user.is_authenticated %}
                <div class="profile-dropdown">
                    <div class="avatar-container">
                        <img src="{{ url_for('static', filename= current_user.avatar) }}" alt="Аватар пользователя" class="profile-avatar" id="profileToggle">
                    </div>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <a href="#" class="dropdown-item">Профиль</a>
                        <a href="#" class="dropdown-item">Подписки</a>
                        <a href="#" class="dropdown-item">Закладки</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('logout') }}" class="dropdown-item logout">Выйти</a>
                    </div>
                </div>
            {% else %}
            <ul class="nav-links">
                <a href="{{ url_for('login') }}" class="dropdown-item login">Войти</a>
                <a href="{{ url_for('register') }}" class="dropdown-item login">Зарегистрироваться</a>
            </ul>
            {% endif %}
    </nav>
    {% endblock %}
    
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

    {% block js %}
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>
</html>