{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg_styles.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}
{% block js %}{% endblock %}

{% block content %}
<div class="auth-card">
    <form method="POST" action="{{ url_for('login') }}">
        <h2 class="auth-title">Вход в систему</h2>
            
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" 
                value="{{ form_data['email'] if form_data and 'email' in form_data else '' }}" 
                required>
        </div>
        
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
        </div>

        {% if error %}
            <div class="form-error">
                {{ error }}
            </div>
        {% endif %}
        
        <button type="submit" class="btn" style="margin-top: 20px;">Войти</button>

        <div class="auth-links">
            Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </div>
    </form>
</div>
{% endblock %}